@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}

@media (max-width: 320px) {
}

$xxl: 1200px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 479px;
$mobile: 320px;
